@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  
  --color-red-sf-50: rgba(253, 243, 243, 1.00);
  --color-red-sf-100: rgba(252, 231, 232, 1.00);
  --color-red-sf-200: rgba(248, 211, 214, 1.00);
  --color-red-sf-300: rgba(242, 175, 180, 1.00);
  --color-red-sf-400: rgba(233, 131, 140, 1.00);
  --color-red-sf-500: rgba(217, 67, 84, 1.00);
  --color-red-sf-600: rgba(200, 54, 78, 1.00);
  --color-red-sf-700: rgba(168, 40, 64, 1.00);
  --color-red-sf-800: rgba(141, 36, 59, 1.00);
  --color-red-sf-900: rgba(121, 34, 56, 1.00);
  --color-red-sf-950: rgba(67, 14, 26, 1.00);

  --color-amber-sf-50: rgba(254, 249, 236, 1.00);
  --color-amber-sf-100: rgba(253, 237, 200, 1.00);
  --color-amber-sf-200: rgba(250, 217, 141, 1.00);
  --color-amber-sf-300: rgba(247, 188, 70, 1.00);
  --color-amber-sf-400: rgba(245, 169, 42, 1.00);
  --color-amber-sf-500: rgba(239, 134, 17, 1.00);
  --color-amber-sf-600: rgba(212, 99, 11, 1.00);
  --color-amber-sf-700: rgba(176, 68, 13, 1.00);
  --color-amber-sf-800: rgba(143, 53, 17, 1.00);
  --color-amber-sf-900: rgba(117, 44, 18, 1.00);
  --color-amber-sf-950: rgba(67, 21, 5, 1.00);

  --color-emerald-sf-50: rgba(241, 248, 244, 1.00);
  --color-emerald-sf-100: rgba(221, 238, 227, 1.00);
  --color-emerald-sf-200: rgba(189, 221, 202, 1.00);
  --color-emerald-sf-300: rgba(144, 197, 169, 1.00);
  --color-emerald-sf-400: rgba(97, 166, 131, 1.00);
  --color-emerald-sf-500: rgba(61, 131, 98, 1.00);
  --color-emerald-sf-600: rgba(46, 109, 80, 1.00);
  --color-emerald-sf-700: rgba(37, 87, 66, 1.00);
  --color-emerald-sf-800: rgba(31, 70, 54, 1.00);
  --color-emerald-sf-900: rgba(26, 58, 45, 1.00);
  --color-emerald-sf-950: rgba(14, 32, 25, 1.00);

  --color-sky-sf-50: rgba(242, 248, 249, 1.00);
  --color-sky-sf-100: rgba(223, 238, 238, 1.00);
  --color-sky-sf-200: rgba(194, 221, 223, 1.00);
  --color-sky-sf-300: rgba(152, 197, 200, 1.00);
  --color-sky-sf-400: rgba(124, 177, 182, 1.00);
  --color-sky-sf-500: rgba(75, 136, 143, 1.00);
  --color-sky-sf-600: rgba(65, 113, 121, 1.00);
  --color-sky-sf-700: rgba(57, 93, 101, 1.00);
  --color-sky-sf-800: rgba(53, 78, 85, 1.00);
  --color-sky-sf-900: rgba(48, 67, 73, 1.00);
  --color-sky-sf-950: rgba(28, 43, 48, 1.00);

  --color-tan-50: rgba(248, 246, 244, 1.00);
  --color-tan-100: rgba(240, 238, 234, 1.00);
  --color-tan-200: rgba(219, 213, 205, 1.00);
  --color-tan-300: rgba(196, 187, 173, 1.00);
  --color-tan-400: rgba(171, 157, 140, 1.00);
  --color-tan-500: rgba(154, 136, 117, 1.00);
  --color-tan-600: rgba(142, 121, 104, 1.00);
  --color-tan-700: rgba(118, 100, 88, 1.00);
  --color-tan-800: rgba(97, 82, 75, 1.00);
  --color-tan-900: rgba(80, 69, 62, 1.00);
  --color-tan-950: rgba(42, 35, 32, 1.00);

  --color-ladle-50: rgba(250, 250, 249, 1.00);
  --color-ladle-100: rgba(245, 245, 244, 1.00);
  --color-ladle-200: rgba(231, 228, 228, 1.00);
  --color-ladle-300: rgba(214, 210, 209, 1.00);
  --color-ladle-400: rgba(168, 159, 158, 1.00);
  --color-ladle-500: rgba(120, 110, 108, 1.00);
  --color-ladle-600: rgba(100, 92, 89, 1.00);
  --color-ladle-700: rgba(68, 62, 60, 1.00);
  --color-ladle-800: rgba(41, 36, 36, 1.00);
  --color-ladle-900: rgba(28, 24, 23, 1.00);
  --color-ladle-950: rgba(12, 9, 9, 1.00);

  --color-zinc-50: rgba(250, 250, 250, 1.00);
  --color-zinc-100: rgba(244, 244, 245, 1.00);
  --color-zinc-200: rgba(228, 228, 231, 1.00);
  --color-zinc-300: rgba(212, 212, 216, 1.00);
  --color-zinc-400: rgba(159, 159, 169, 1.00);
  --color-zinc-500: rgba(113, 113, 123, 1.00);
  --color-zinc-600: rgba(82, 82, 92, 1.00);
  --color-zinc-700: rgba(63, 63, 70, 1.00);
  --color-zinc-800: rgba(39, 39, 42, 1.00);
  --color-zinc-900: rgba(24, 24, 27, 1.00);
  --color-zinc-950: rgba(9, 9, 11, 1.00);

  --color-neutral-50: rgba(250, 250, 250, 1.00);
  --color-neutral-100: rgba(245, 245, 245, 1.00);
  --color-neutral-200: rgba(229, 229, 229, 1.00);
  --color-neutral-300: rgba(212, 212, 212, 1.00);
  --color-neutral-400: rgba(161, 161, 161, 1.00);
  --color-neutral-500: rgba(115, 115, 115, 1.00);
  --color-neutral-600: rgba(82, 82, 82, 1.00);
  --color-neutral-700: rgba(64, 64, 64, 1.00);
  --color-neutral-800: rgba(38, 38, 38, 1.00);
  --color-neutral-900: rgba(23, 23, 23, 1.00);
  --color-neutral-950: rgba(10, 10, 10, 1.00);
  
  --color-white: rgba(255, 255, 255, 1.00);
  --color-black: rgba(0, 0, 0, 1.00);


}
