---

interface Props {
	src: string;
	alt?: string;
}

const { src, alt = "" } = Astro.props;
const resolvedSrc = `${import.meta.env.BASE_URL.replace(/\/$/, '')}/${src.replace(/^\//, '')}`;

---

<div class="carousel-slide">
	<div class="carousel-slide-content">
		<div class="carousel-slide-img"><img src={resolvedSrc} alt={alt}></div>
		<div class="carousel-slide-info"><slot /></div>
	</div>
</div>
