---

import Default from '../layouts/Default.astro';
import Carousel from '../components/Carousel.astro';
import CarouselSlide from '../components/CarouselSlide.astro';
import Spacer from '../components/Spacer.astro';
import Divider from '../components/Divider.astro';
import ProductCard from '../components/ProductCard.astro';
import ProductGroup from '../components/ProductGroup.astro';
import CarouselPanels from '../components/CarouselPanels.astro';

---

<Default title="Playground">

	<div class="w-full h-26 flex items-center justify-center bg-neutral-200">
		<span class="text-sm text-neutral-500">(Navigation)</span>
	</div>

	<div class="w-full h-[560px] flex items-center justify-center bg-neutral-100">
		<span class="text-sm text-center text-neutral-500">(Hero) <br /> - Scroll down to view the prototype -</span>
	</div>

	<Spacer size="lg" />

	<Divider />

	<Spacer size="lg" />

	<div data-animate="fade-up">

		<Carousel variant="4" throwDuration={0.5} data-panels="main-carousel">
			<CarouselSlide src="/images/img.jpg"></CarouselSlide>
			<CarouselSlide src="/images/img2.jpg"></CarouselSlide>
			<CarouselSlide src="/images/img3.jpg"></CarouselSlide>
			<CarouselSlide src="/images/img4.jpg"></CarouselSlide>
		</Carousel>

	</div>

	<CarouselPanels for="main-carousel">

		<ProductGroup index={1} title="Pregnancy & New Baby" description="Welcome a new bundle of joy with joyful gift bundles.">
			<ProductCard src="/images/img.jpg" title="Title of Product Here" price="$99.99" />
			<ProductCard src="/images/img2.jpg" title="Title of Product Here" price="$99.99" />
			<ProductCard src="/images/img3.jpg" title="Title of Product Here" price="$99.99" />
		</ProductGroup>

		<ProductGroup index={2} title="Congratulations" description={`Say "way to go" with congratulations gifts for every milestone.`}>
			<ProductCard src="/images/img3.jpg" title="Title of Product Here" price="$99.99" />
			<ProductCard src="/images/img2.jpg" title="Title of Product Here" price="$99.99" />
			<ProductCard src="/images/img.jpg" title="Title of Product Here" price="$99.99" />
		</ProductGroup>

		<ProductGroup index={3} title="Housewarming" description={`Put the "sweet" in "home sweet home" with a friendly housewarming gift.`}>
			<ProductCard src="/images/img.jpg" title="Title of Product Here" price="$99.99" />
			<ProductCard src="/images/img2.jpg" title="Title of Product Here" price="$99.99" />
			<ProductCard src="/images/img3.jpg" title="Title of Product Here" price="$99.99" />
		</ProductGroup>

		<ProductGroup index={4} title="Just Because" description="Sometimes, it's nice to give (and get) a gift, just because.">
			<ProductCard src="/images/img3.jpg" title="Title of Product Here" price="$99.99" />
			<ProductCard src="/images/img2.jpg" title="Title of Product Here" price="$99.99" />
			<ProductCard src="/images/img.jpg" title="Title of Product Here" price="$99.99" />
		</ProductGroup>

	</CarouselPanels>

	<Spacer size="lg" />

	<Divider />

	<Spacer size="lg" />

	<div data-animate="fade-up" data-animate-scrub class="w-full h-[560px] flex items-center justify-center bg-neutral-100">
		<span class="text-sm text-neutral-500">(Footer)</span>
	</div>

</Default>
